/* Common styles for login and signup */
.login-page-container,
.signup-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  padding: 120px 0;
  min-height: 90vh;
}

.heading2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.8rem;
  font-weight: medium;
  text-align: center;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.login-form label,
.signup-form label {
  font-size: 1rem;
  color: #333;
}

.login-form input,
.signup-form input {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn,
.signup-btn {
  margin: 10px 0;
  padding: 12px;
  font-size: 1.2rem;
  background-color: #458ff6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #1878ff;
}

p {
  margin-top: 15px;
  font-size: 1rem;
}

p span {
  color: #007bff;
  text-decoration: none;
}

p span:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .heading2 {
    font-size: 1.6rem;
  }
  .login-page-container,
  .signup-page-container {
    padding: 80px 0;
  }
}
