.insurance-detail-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.d-insurance-info {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.d-insurer-logo {
  width: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.d-insurance-info h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.d-point {
  font-size: 1.2rem;
  margin: 10px 0;
}

.d-point span {
  font-weight: bold;
  color: black;
}

.d-point span:hover {
  text-decoration: none;
}

.d-key-points {
  list-style: disc;
  padding-left: 20px;
  margin: 20px 0;
}

.d-key-points li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.d-insurance-details {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
}

.d-hospital-list {
  margin-top: 30px;
  margin-bottom: 100px;
}

.d-hospital-list h3 {
  margin: 80px 0 40px;
  font-weight: bold;
}

.d-hospital-cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.d-hospital-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  width: auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.d-hospital-card:hover {
  transform: translateY(-5px);
}

.d-hospital-image {
  width: 100px;
  object-fit: contain;
  border-radius: 5px;
  margin-right: 8px;
}

.d-hospital-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .d-insurer-logo {
    width: 150px;
  }

  .d-insurance-info h2 {
    font-size: 1.5rem;
  }

  .d-point {
    font-size: 1rem;
  }

  .d-key-points li {
    font-size: 0.9rem;
  }

  .d-insurance-details {
    font-size: 0.9rem;
  }

  .d-hospital-cards-container {
    flex-direction: column;
  }

  .d-hospital-card {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .d-hospital-image {
    width: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .d-hospital-name {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .d-insurance-info {
    padding: 15px;
  }

  .d-insurer-logo {
    width: 120px;
  }

  .d-insurance-info h2 {
    font-size: 1.2rem;
  }

  .d-point {
    font-size: 0.9rem;
  }

  .d-key-points li {
    font-size: 0.8rem;
  }

  .d-insurance-details {
    font-size: 0.8rem;
  }

  .d-hospital-card {
    padding: 10px;
  }

  .d-hospital-image {
    width: 60px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .d-hospital-name {
    font-size: 0.9rem;
  }
  .ctr{
    text-align: center;
  }
}

