.hospital-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filters-container {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.dropdown-btn img {
  margin: 0 5px;
}

.dropdown-btn:hover {
  background-color: #ddd;
}

.h-dropdown-content {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  width: max-content;
}

.checkbox-label {
  display: block;
  margin-bottom: 8px;
}

.checkbox-label input {
  margin-right: 6px;
}

.dropdown-content button {
  margin: 2px 0;
  background-color: white;
  border: none;
  width: 100px;
  text-align: left;
}

.apply-filters-btn {
  padding: 10px 20px;
  background-color: white;
  color: #458ff6;
  border: 2px solid #458ff6;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.apply-filters-btn:hover {
  background-color: #458ff6;
  color: white;
}

.hospital-cards-container {
  padding: 50px 60px 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 40px;
}

.hospital-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.hospital-card:hover {
  transform: translateY(-5px);
}

.hospital-image {
  width: 100%;
  border-radius: 6px;
  object-fit: contain;
  margin-bottom: 15px;
}

.hospital-card h3 {
  font-weight: bold;
  margin: 0 0 10px;
}

.hospital-card p {
  margin: 4px 0;
}

.view-details-btn {
  min-width: 45%;
  margin-left: auto;
  padding: 10px 20px;
  background-color: #458ff6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.view-details-btn:hover {
  background-color: #1878ff;
}
