.hero-page .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hero-section {
    background-color: #ffffff;
  }
  
  .services-section .card {
    border: none;
    background-color: #ffffff;
  }
  
  .gray {
    color: #7d7987;
  }